<div class="container mt-4 mb-4">
    <a routerLink="/new-listing" class="btn btn-success">Create new Listing</a>
    <hr/>
</div>
<div class="container" *ngFor="let listing of listings">
    <h3>{{ listing.name }}</h3>
    <p>{{ listing.description }}</p>
    <p>${{ listing.price }}</p>

    <div>
        <a routerLink="/edit-listing/{{listing.id}}">
            <button class="btn btn-info me-3">Edit</button>
        </a>
        <button class="btn btn-danger" (click)="onDeleteClicked(listing.id)">Delete</button>
    </div>
</div>
